<!DOCTYPE html>
<html lang="en">
<head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Your Reps</title>
</head>
<body>  
    <div class="container">
        <a href="/search">Back</a>
        {% if officials|length > 2 %}
        
            {% for off in officials %}
                
                {% if loop.last %}  
                    <h1>Your House Representative</h1> 
                {% else %}
                    <h1>Your Senator</h1>      
                {% endif %}
                
                {% if off.url_photo %}
                <img src="{{ off.url_photo }}" alt="">
                    
                {% endif %}
                
                <h3>{{ off.name }}</h3>
                <h4>{{ off.party }}</h4>
                <h5>Contact Phones:</h5>
                
                {% for phone in off.phones %}
                    <p>{{ phone }}</p>
                {% endfor %}
                <h5>Mailing Address</h5>
                    {% for add in off.address %}
                    <address>
                        ATTN: {{ off.name }}<br>
                        {{ add.line1 }}<br>
                        {{ add.city }}, {{ add.state }} {{ add.zip }}
                    </address>
                        
                    {% endfor %}
                <h5>Links:</h5>
                {% for url in off.urls %}
                    <li><a href="{{url}}" target="_blank">{{url}}</a></li>
                {% endfor %}
                
                <hr>
                
            {% endfor %}
            
        {% else %}
            {% for off in officials %}
                <h1>Your Senator</h1>  
                
                {% if off.url_photo %}
                <img src="{{ off.url_photo }}" alt="">
                    
                {% endif %}
                
                <h3>{{ off.name }}</h3>
                <h4>{{ off.party }}</h4>
                <h5>Contact Phones:</h5>
                
                {% for phone in off.phones %}
                    <p>{{ phone }}</p>
                {% endfor %}
                <h5>Mailing Address</h5>
                    {% for add in off.address %}
                    <address>
                        ATTN: {{ off.name }}<br>
                        {{ add.line1 }}<br>
                        {{ add.city }}, {{ add.state }} {{ add.zip }}
                    </address>
                        
                    {% endfor %}
                <h5>Links:</h5>
                {% for url in off.urls %}
                    <li><a href="{{url}}" target="_blank">{{url}}</a></li>
                {% endfor %}
            {% endfor %}
            <h1>No House of Representatives Info to show</h1>
        {% endif %}
    </div>
    
</body>
</html>