<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/resources/create" method="POST">
      <label for="name">Name</label>
      <input type="text" name="name" class="form-control">

      <label for="link">Link</label>
      <textarea name="link" class="form-control" cols="30" rows="10"></textarea>

      <label for="description">Description</label>
      <input type="text" name="description" class="form-control">
    
    <button class="btn btn-dark" type="submit">Submit</button>
    </form>
  </body>
</html>
