<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center; background-color:#e3f2fd; margin-bottom: 0; padding-top: 25px; padding-bottom: 25px;">Local Officials</h1>
        <nav class="navbar navbar-light" style="background-color: #e3f2fd; list-style: none; display: flex; justify-content: space-evenly;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/resources" style="color: black; font-size: large;
          font-weight: 500;"><button class = "btn btn-primary">Home</button></a>
        </li>
        
    <form class="d-flex"  action="/representatives/search" method = "POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input  placeholder = "Zip Code" class="form-control me-2" type="number" name="zip" id="">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
      </ul>
    </nav>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="margin-top:20px; margin-left: 267px; max-width: 800px;  ">
  <div class="carousel-inner" style="margin-left: 240px;">
    
        
    
    
    {% for off in officials %}
    {% if loop.first %}
    <div class="carousel-item active" style="margin:0, auto;">
        {% if off.url_photo %}
            <img src="{{ off.url_photo }}"  class="d-block w-100" alt="picture of {{off.name}}" style="max-width: 300px; margin: 0, auto; max-height:300px;">
        {% endif %}
        <h3>{{ off.name }}</h3>
                <h4>{{ off.party }}</h4>
                <h5>Contact Phones:</h5>
                
                {% for phone in off.phones %}
                    <p>{{ phone }}</p>
                {% endfor %}
                <h5>Mailing Address</h5>
                    {% for add in off.address %}
                    <address>
                        ATTN: {{ off.name }}<br>
                        {{ add.line1 }}<br>
                        {{ add.city }}, {{ add.state }} {{ add.zip }}
                    </address>
                        
                    {% endfor %}
                <h5>Links:</h5>
                {% for url in off.urls %}
                    <li><a href="{{url}}" target="_blank">{{url}}</a></li>
                {% endfor %}
      </div>
      {% else %}
    
   
        <div class="carousel-item">
            {% if off.url_photo %}
            <img src="{{ off.url_photo }}" class="d-block w-100;" alt="picture of {{off.name}}" style="max-width: 300px; margin: 0, auto; max-height:300px;">
      
    {% endif %}
            
            
            
            <h3>{{ off.name }}</h3>
            <h4>{{ off.party }}</h4>
            <h5>Contact Phones:</h5>
                        
            {% for phone in off.phones %}
                <p>{{ phone }}</p>
            {% endfor %}
            <h5>Mailing Address</h5>
                {% for add in off.address %}
                <address>
                    ATTN: {{ off.name }}<br>
                    {{ add.line1 }}<br>
                    {{ add.city }}, {{ add.state }} {{ add.zip }}
                </address>
                    
                {% endfor %}
            <h5>Links:</h5>
            {% for url in off.urls %}
                <li><a href="{{url}}" target="_blank">{{url}}</a></li>
            {% endfor %}
        </div>        
      {% endif %}
    {% endfor %}

   
    <!-- <div class="carousel-item active">
      <img src="https://thumbs.dreamstime.com/z/small-frog-fishing-rod-ornament-green-lake-high-quality-photo-196683129.jpg" class="d-block w-100" alt="frog fishing" style="max-width: 300px; max-height:300px;">
    </div>
    <div class="carousel-item">
      <img src="https://cdn.britannica.com/84/73184-004-E5A450B5/Sunflower-field-Fargo-North-Dakota.jpg" class="d-block w-100" alt="sunflowers" style="max-width: 300px; max-height:300px;">
    </div>
    <div class="carousel-item">
      <img src="https://thescranline.com/wp-content/uploads/2021/03/Dancing-Queen-Cupcakes.jpg" class="d-block w-100" alt="rainbow cupcake" style="max-width: 300px; max-height:300px;">
    </div>
  </div> -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: black;"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: black;"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>