<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="/representatives/search" method = "POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="number" name="zip" id="">
            <input type="submit" value="search">
        </form>
        
    </div>
</body>
</html>